body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(227, 235, 245);
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 99%;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9acb1;
    border-radius: 26px;
    z-index: 2;
}
  
.navbar-item {
    font-family: nexa;
    font-weight: bold;
    width: 150px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
}

.logo {
    height: 50px;
    width: auto;
}

.home-screen {
    height : auto;
    padding: 150px 100px 100px;
    align-items: center;
    justify-content: center;
}

.header_row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.header_column{
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}

.header_column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.header_column_hover{
    position : relative;
    display : block;
}

.header_column_hover img{
    border-radius: 10px;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.header_column_content{
    opacity : 0;
    position: absolute;
    color : white;
    bottom : 0;
    background-color: #6a84aa;
    width : 100%;
    height : 70px;
    text-align: center;
    justify-content: center;  
}

.header_column_content_text{
    margin-top : 20px;
    font-size: 24px;
    font-family: Century Gothic;
}

.header_column_hover:hover .header_column_content{
    opacity: 0.8;
}

.navbar-item:hover{
    background-color: rgb(70, 71, 82);
}

.header_video{
    margin : 100px auto 5px auto;
    justify-content: center;
    text-align: center;
}

.header_video_frame{
    padding: 0 4px;
    overflow: hidden;
}

.header_video_frame_column{
    padding: 0 4px;
}

.header_video_frame_column iframe{
    margin : auto auto 100px;
    border-radius: 10px;
}


.footer {
    background-color: #636363;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;     
    max-width: 960px;
    margin: 0 auto;
}

.footer-logo img {
    max-width: 80px;
    height: auto;
}

.social-media a{
    margin: auto 20px;
}

.social-media img {
    max-height: 40px;
    width: auto;
}

.footer-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links i {
    font-size: 20px;
}

.footer-copyright {
    text-align: right;
}


